* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkBlack: #1e2320;
  --greyBlue: #f9fafb;
  --lightgray: #6b6c7e;
}
.container {
  display: flex;
  flex-direction: row;
}

header {
  display: none;
  flex-direction: row;
  background-color: var(--darkBlack);
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 72px;
}
#hello-jane {
  width: 100%;
}

.navBar {
  width: 15%;
  min-width: 236px;
  height: 985px;
  background-color: var(--darkBlack);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.onClick {
  background-color: #3e423f;
  border-right: 5px solid white;
}
#net-items,
.amount-total {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.amount-total {
  margin-bottom: 24px;
}

#net-sales,
.amount-available {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
  border: 1px solid #eee;
  background: white;
}

#plan-starter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
}

#plan-your-attire {
  display: flex;
  padding: 24px;
  width: 25%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--greyBlue);
  border-radius: 12px;
  border: 1px solid #eee;
}

#go-to-shop {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #555a57;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(165, 238, 238, 0) 100%
    ),
    #1e2320;
  box-shadow: 0px 0px 0px 1px #1e2320;
  color: white;
  font-size: 14px;
}

#starter-checklist {
  display: flex;
  padding: 24px 0 24px 24px;
  width: 75%;
  flex-direction: column;
  align-items: left;
  gap: 16px;
  background-color: var(--greyBlue);
  border-radius: 12px;
  border: 1px solid #eee;
}

#items-recent {
  text-align: center;
  background-color: var(--greyBlue);
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 20px 32px 0 32px;
  border-radius: 12px;
  border: 1px solid var(--Border-line, #eee);
  background: #f9fafb;
}
#items-recent p {
  font-size: 14px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  width: 100%;
  border: 1px solid var(--greyBlue);
  border-radius: 20px;
  font-size: 14px;
  color: #6b6c7e;
  line-height: 20px;
}

td,
th {
  padding: 16px 24px;
  text-align: center;
  text-align: left;
}

tr:nth-child(even) {
  background-color: var(--greyBlue);
  border: 1px solid var(--greyBlue);
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: inline-block;
  margin: 0 8px;
}

#details {
  display: flex;
  align-items: center;
  color: var(--lightgray);
}

.recently-paid, .withdrawal-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
}


.recently-paid-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#history {
  display: none;
}

/*Event screens*/

.events {
  width: 100%;
}
.events-get {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.events-get h2 {
  color: var(--darkBlack);
}

.events-get p {
  color: var(--lightgray);
}
.input-icon {
  position: relative;
  display: inline-block;
}

.input-icon input {
  padding: 12px 12px 12px 36px;
  width: 100%;
  height: 44px;
  border-radius: 12px;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  font-size: 14px;
}

.input-icon img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hr-line {
  border: none;
  border-top: 2px solid #eee;
  margin-top: 24px;
  margin-bottom: 24px;
}

.illustration-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 32px;
  text-align: center;
}

.reusable-table {
  margin-top: 24px;
}

.go-to-shop {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #555a57;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(165, 238, 238, 0) 100%
    ),
    #1e2320;
  box-shadow: 0px 0px 0px 1px #1e2320;
  padding: 8px 16px;
  color: white;
}
/* Orders screen*/

.orders {
  width: 100%;
}

.date-download-utility {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  color: var(--lightgray);
}

.utility-flex {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.wallet-settings-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

/*payouts screens*/
.wallet {
  width: 100%;
}

.settings-withdraw {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.amount-available p,.total-withdrawn p {
  color: var(--lightgray);
}

.total-withdrawn {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
  border: 1px solid #eee;
  background: white;
}

.check-green{
  display: flex;
  flex-direction: row;
  gap: 4px;
  background-color:#ECFDF3 ;
  padding: 2px 8px 2px 6px;
  color: #027A48;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 100px;
  height: 16px;
}

.check-red{
  display: flex;
  flex-direction: row;
  gap: 4px;
  background-color:#FEF3F2;
  padding: 2px 8px 2px 6px;
  color: #B42318;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 100px;
  height: 16px;
}

.check-number{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}

#history div:nth-child(odd){
  background-color: white;
  border: 1px solid white;
}
#history div:nth-child(even){
  background-color: var(--greyBlue);
  border: 1px solid var(--greyBlue);
}

/* Media queries */
@media only screen and (max-width: 940px) {
  .profileAvatar {
    width: 8px;
    height: 12px;
  }

  .username-email p {
    font-size: 10px;
  }

  #plan-starter {
    display: flex;
    flex-direction: column;
  }
  #plan-your-attire {
    width: 100%;
  }

  #starter-checklist {
    width: 100%;
  }

  #history {
    display: block;
  }

  table {
    display: none;
  }

  .search-flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .wallet-settings-flex {
    display: flex;
    flex-direction: column;
  }

  .settings-withdraw {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 665px) {
  #items-recent p {
    font-size: 12px;
  }

  #items-recent {
    padding: 20px;
  }
  #net-items {
    display: flex;
    flex-direction: column;
  }

  .navBar {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
  }
  #hello-jane {
    padding-bottom: 121px;
  }

  .amount-total {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 350px) {
  .utility-flex {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .date-download-utility {
    display: flex;
    justify-content: left;
  }
}

@media only screen and (min-width: 941px) {
  .input-icon input {
    width: 325px;
  }
}
